<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>:: Persona ::</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Stylesheets -->
    {% load staticfiles %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <!-- Header Section -->
            <header class="col-md-4 col-lg-4 header-container">
                <div class="row">
                    <!-- Introduction -->
                    <section class="intro">
                        <div class="avatar">

                        </div>
                        <div class="clearfix"></div>
                        <h3 class="intro-title">
                            <strong>Hi! I am Prashant,</strong><br>
                            a high-school student(not anymore)
                            from Kathmandu, Nepal.
                        </h3>
                    </section>

                    <!-- Responsive Navigation -->
                    <nav class="responsive-nav hidden-md hidden-lg">
                        <div class="responsive-menu-btn">
                            <span class="fa fa-navicon fa-lg"> MENU</span>
                        </div>
                        <ul class="responsive-menu">
                            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="{% url 'post_list' %}">Blog</a></li>
                        </ul>
                    </nav>
                    
                    <!-- Main Navigation -->
                    <nav class="intro-nav visible-md visible-lg">
                        <ul>
                            <li><a href="#"><i class="fa fa-home"></i> Home <i class="fa fa-angle-double-right nav-arrow"></i></a></li>
                            <li><a href="#">About <i class="fa fa-angle-double-right nav-arrow"></i></a></li>
                            <li><a href="#">Portfolio <i class="fa fa-angle-double-right nav-arrow"></i></a></li>
                            <li><a href="#">Contact <i class="fa fa-angle-double-right nav-arrow"></i></a></li>
                            <li><a href="{% url 'post_list' %}">Blog <i class="fa fa-angle-double-right nav-arrow"></i></a></li>
                        </ul>
                    </nav>

                    <!-- Header Footer -->
                    <footer class="header-footer visible-md visible-lg">
                        <section class="social-icons">
                            <a href="https://github.com/prashantgrg01/"><i class="fa fa-github"></i></a>
                            <a href="https://codepen.io/prashantgrg01/"><i class="fa fa-codepen"></i></a>
                            <a href="http://freecodecamp.com/prashantgrg01/"><i class="fa fa-free-code-camp"></i></a>
                            <a href="https://www.facebook.com/prashant.grg.7/"><i class="fa fa-facebook"></i></a>
                        </section>
                        <p>
                            <small>
                                &copy pgrg.pythonanywhere.com &nbsp;&nbsp;|&nbsp;&nbsp; 
                                developed by @<a href="https://github.com/prashantgrg01/" class="author-link">prashantgrg01</a>
                            </small>
                        </p>
                    </footer>
                </div>
            </header>
            
            <!-- Main Content Section -->
            <section class="col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 main-container">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </section>

            <!-- Main Footer -->
            <footer class="main-footer hidden-md hidden-lg">
                <section class="social-icons">
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-codepen"></i></a>
                    <a href="#"><i class="fa fa-free-code-camp"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </section>
                <p>
                    <small>
                        &copy pgrg.pythonanywhere.com &nbsp;&nbsp;|&nbsp;&nbsp; 
                        developed by @<a href="https://github.com/prashantgrg01/" class="author-link">prashantgrg01</a>
                    </small>
                </p>
            </footer>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Code to toggle the responsive navigation menu for mobile devices
            $(".responsive-menu").hide();
            $(".responsive-menu-btn").click(function() {
                $(".responsive-menu").slideToggle(300);
            });
        });
    </script>
  </body>
</html>
