body {
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: sans-serif;
}
.main-container {
    margin: 0 2rem;
}
#paper_form {
    max-width: 35rem;
    margin: auto; 
}
#paper_form .form-control {
    margin-bottom: 0.75rem;
}
