
/** Main Styles **/
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 3.25rem;
    font-size: 16px;
}
.header-container {
    background-color: #333;
    background-image: url("../img/intro-bg.jpg");
    background-size: cover;
}
.main-container {
    background-color: #fff;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/hypnotize.png");
}
@media (min-width: 992px) {
    .header-container {
        position: fixed;
        height: 100%;
    }
}
a:hover, a:active {
    text-decoration: none;
    color: #49bf9d !important;
}
a:focus {
    text-decoration: none !important;
}
hr {
    border-color: #d3d3d3 !important;
}
pre {
    color: #c7254e !important;
}
.btn-main {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    display: inline-block;
    color: #777;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid #777;
    border-radius: 25%;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.btn-main:focus {
    text-decoration: none;
    color: #777;
}
.btn-main:hover, .btn-main:active {
    text-decoration: none;
    color: #49bf9d;
    border-color: #49bf9d;
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 99999;
    display: none;
}
.lightbox > img {
    display: block;
    margin: 6rem auto;
    min-height: 30rem;
    max-height: 50rem;
}
/** Introduction **/
.intro {
    text-align: center;
    padding: 5rem 2rem 2rem 2rem;
}
.intro .avatar {
    display: none;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../img/avatar.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
    -ms-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
    -o-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
}
@media (min-width: 992px) {
    .intro {
        text-align: right;
    }
    .intro .avatar {
        display: block;
        margin: 0;
        margin-bottom: 0.75rem;
        float: right;
    }
}
.intro-title {
    line-height: 3.25rem;
    font-weight: 300;
    color: #ddd;
}
.intro-title > strong {
    color: #fff;
    font-size: 3rem;
    font-family: "Gloria Hallelujah", sans-serif;
}
/** Main Navigation **/
.intro-nav {
    padding: 0 3rem 2rem 0;
    text-align: right;
}
.intro-nav > ul {
    list-style-type: none;
}
.intro-nav ul li a, .intro-nav ul li a .nav-arrow {
    color: #ddd;
    font-size: 1.75rem;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.intro-nav a:hover {
    color: gold !important;
    font-weight: 400;
}
.intro-nav a:hover > .nav-arrow, .intro-nav a:active > .nav-arrow {
    color: gold;
    margin-left: 2rem;
}
/** Responsive Navigation **/
.responsive-nav {
    text-align: center;
}
.responsive-menu-btn {
    display: inline-block;
    color: #ddd;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.responsive-menu-btn:hover, .responsive-menu-btn:active {
    color: #49bf9d;
}
.responsive-menu {
    padding: 0;
    list-style-type: none;
}
.responsive-menu a {
    color: #ddd;
    padding: 0.75rem 0;
    display: block;
    font-size: 2rem;
}
.responsive-menu a:hover {
    color: gold !important;
    font-weight: 400;
}
/** Footer **/
.find-me-text {
    color: #ddd;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.social-icons a {
    color: #ddd;
    padding: 1rem;
    font-size: 2.5rem;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.social-icons a:first-child {
    padding-left: 0;
} 
.social-icons a:last-child {
    padding-right: 0;
}
.header-footer {
    text-align: right;
    padding: 0 2rem 2rem 0;
}
.header-footer p {
    color: #ddd;
}
.main-footer {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: #ddd;
}
.main-footer p {
    margin-bottom: 0;
}
.author-link, .author-link:focus {
    text-decoration: none;
    color: #ddd;
    border-bottom: 1px dotted #ddd;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.author-link:hover, .author-link:active {
    border-bottom: none;
}

/** Main Content - Blog Section **/
.blog-section, .main-content {
    padding: 2rem;
    color: #555;
}
@media (min-width: 768px) {
    .blog-section, .main-content {
        padding: 2rem 3rem;
        min-height: 100vh;
    }
}
.main-title, .post .post-title, .readmore-link {
    font-family: "Raleway", sans-serif;
}
.main-title {
    text-align: center;
    margin-bottom: 30px;    
}
.post > hr {
    margin-top: 30px;
}
.post .post-title {
    font-weight: 300;
    margin-top: 10px;
}
.post .post-title, .post .post-title a {
    color: #555;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.post > .post-body {
    line-height: 3rem;
    font-size: 1.85rem;
}
.post > .post-body strong, .post > .post-body em {
    font-weight: 400;
}
.readmore-link {
    font-weight: 400;
    color: darkgoldenrod;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.post-date {
    float: right;
}
.post-date::before, .post-author::before {
    content: '\2014 \00A0';
}
/** Main Content - Blog Detail Section **/
.post.details > .post-title, .post.details > .post-author {
    text-align: center;
}
.post.details > .post-author > span {
    color: #49bf9d;
}
.post.details > .post-body {
    line-height: 3rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/** Main Content - Home Page **/
.home {
    font-weight: 400;
}
.home .gallery ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}
.home .gallery ul li {
    padding: 0.75rem;
    text-align: center;
}
.gallery ul li img {
    width: 18rem;
    height: 18rem;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.gallery ul li img:hover {
    cursor: pointer;
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    -moz-transform: scale3d(1.25, 1.25, 1.25);
    -ms-transform: scale3d(1.25, 1.25, 1.25);
    -o-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
}
@media (min-width: 992px) {
    .gallery ul li img {
        width: 14rem;
        height: 14rem;
    }
    .gallery ul li:nth-child(odd) {
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
    .gallery ul li:nth-child(even) {
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
    }
}
.home .brief-section {
    margin: 5rem 0;
}
.home .brief {
    border-color: gold;
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
}
.home .brief > strong {
    font-weight: 600;
}
.home .video-group {
    margin-bottom: 4rem;
}
.home .video-group iframe {
    width: 100%;
    height: 20rem;
}
@media (min-width: 768px) {
    .home .video-group iframe {
        height: 25rem;
    }
}
.home .title-text {
    text-align: center;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}
.home .about-section {
    margin-top: 4rem;
}
.about-section .quality-item {
    margin-bottom: 2rem;
    color: #fff;
    background-color: #777;
    background-image: url("../img/bg-anim.gif");
    background-size: cover;
}
.about-section .quality-item > img {
    width: 100%;
    height: 25rem;
}
.about-section .quality-item .quality-info {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    border-bottom: 5px solid gold;
}
@media (min-width: 768px) {
    .about-section .quality-item .quality-info {
        padding: 3rem 2rem;
        height: 25rem;
    }
}
.home .portfolio-section {
    margin-top: 4rem;
}
.portfolio-section .folio-item {
    border: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 2rem;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.portfolio-section .folio-item .folio-img img {
    width: 100%;
    height: 25rem;
}
.portfolio-section .folio-item .folio-info {
    text-align: center;
}
@media (min-width: 768px) {
    .portfolio-section .folio-item .folio-info {
        min-height: 11rem;
    }
}
.portfolio-section .folio-item .folio-overlay {
    text-align: center;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.portfolio-section .folio-item .folio-overlay .btn-main {
    margin-top: 17rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
}
.portfolio-section .folio-item:hover > .folio-overlay {
    opacity: 1;
}
