{% extends "blog/layout.html" %}

{% block content %}
    <!-- Blog Section -->
    <section class="blog-section">
        <h1 class="main-title"><i class="fa fa-book"></i> My Blog</h1>
        <hr>
        <!-- Blog Details Section -->
        <article class="post details clearfix">
            <h2 class="post-title">{{post.title}}</h2>
            <p class="post-author">by <span>{{post.author}}</span> on {{post.post_date}} &nbsp;<i class="fa fa-calendar"></i></p>
            <section class="post-body">
                {{post.body|safe|linebreaks}}
            </section>
            <hr>
            <a href="{% url 'post_list' %}" class="btn-main"><i class="fa fa-mail-reply"></i> Back to Blogs</a>
        </article>
    </section>
{% endblock %}