<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>:: APPMS ::</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% load staticfiles %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'getpaper/css/main.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <div class="main-container">
            
            <div class="row">
                <h1 class="title text-center">----- APPMS -----</h1>
                <h4 class="text-center">A-level Past Papers and Mark Schemes</h4>
                <hr>
                <form action="{% url 'appms_home' %}" method="post" id="paper_form">
                    {% csrf_token %}
                    <input required class="form-control" name="code" id="code" type="number" value="{{ fields.0 }}" placeholder="Syllabus Code">
                    <input class="form-control" name="year" id="year" type="number" min="2000" value="{{ fields.1 }}" placeholder="Year">
                    <select form="paper_form" name="session" id="session" class="form-control">
                        <option value="">Session</option>
                        {% if fields.2 == 's' %}
                            <option value="s" selected>May/Jun</option>
                        {% else %}
                            <option value="s">May/Jun</option>
                        {% endif %}
                        {% if fields.2 == 'w' %}
                            <option value="w" selected>Oct/Nov</option>
                        {% else %}
                            <option value="w">Oct/Nov</option>
                        {% endif %}
                    </select>
                    <select form="paper_form" name="paper_type" id="paper_type" class="form-control">
                        <option value="">Paper Type</option>
                        {% if fields.3 == 'qp' %}
                            <option value="qp" selected>Question Paper</option>
                        {% else %}
                            <option value="qp">Question Paper</option>
                        {% endif %}
                        {% if fields.3 == 'ms' %}
                            <option value="ms" selected>Mark Scheme</option>
                        {% else %}
                            <option value="ms">Mark Scheme</option>
                        {% endif %}
                    </select>
                    <input class="form-control" name="paper_num" id="paper_num" type="number" min="1" max="7" value="{{ fields.4 }}" placeholder="Paper Number">
                    <input class="btn btn-success form-control" type="submit" value="Get Paper">
                </form>
            </div>
            
            <section class="row">
                {% if links != None %}
                    <div class="paper_result text-center">
                        {% if links|length == 0 %}
                            <h2>Sorry, no results found!</h2>
                        {% else %}
                            <h2>{{ links|length }} results found!</h2>
                            <div class="list-group">
                                {% for link in links %}
                                    <a href="{{ link.1 }}" target="_blank" class="list-group-item">{{ link.0 }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </section>
        
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
</html>